.header{
    background: #ff5200;
    color: #fff;

    nav{
        padding: 2.25rem 0;
    }
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.75rem;

    a{
        text-decoration: none;
        font-weight: 500;
        color: #fff;
    }

    button{
        padding: 0.5rem;
        color: #fff;
        font-weight: 600;
        border-radius: 13px;
        width: 9.5rem;
        padding: 0.85rem 1rem;

        span{
            padding-left: 0.25rem;
        }
    }
}

.get-app-btn{
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: 500;
    transition: all 0.3s ease;
}

.sign-in-btn{
    background-color: #000;
    border: 1px solid #000;
    font-weight: 500;
    transition: all 0.3s ease; 
}

.container{
    padding: 5rem 0 3rem;

    h1{
        text-align: center;
    }
}

.flex-card{
    display: flex;
    justify-content: space-around;
    .card{
        background-color: #fff;
        color: #000;
        border-radius: 23px;
        padding: 1rem;
    }
}

.drawer-header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 1rem; 
}
.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: inherit;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;

}